@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
  color: #eaeaea;
  font-size: 19px;
  background-color: #202020;
  line-height: 140%;
}

button,
a {
  cursor: pointer;
}
a:hover {
  color: #866e52;
}
button:focus {
  outline: none;
}
@media (min-width: 1450px) {
  .container {
    max-width: 1430px;
  }
}
a {
  text-decoration: none;
  color: #eaeaea;
  cursor: pointer;
}
input,
button :focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.just_center {
  display: flex;
  justify-content: center;
}
.just_btwn {
  display: flex;
  justify-content: space-between;
}
.align_center {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  height: 90px;
  justify-content: flex-end;
}
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: calc(180px + 10%);
  justify-content: space-between;
  width: 45%;
}
.menu li {
  padding: 0 15px;
  border-right: 1px solid rgba(246, 246, 246, 0.2);
  border-left: 1px solid rgba(246, 246, 246, 0.2);
  height: 30px;
}
.tel_block {
  padding: 3px 25px;
  border: 1px solid rgba(246, 246, 246, 0.2);
  box-sizing: border-box;
  position: fixed;
  right: 3px;
  top: 20px;
  z-index: 9;
}
.tel_block a {
  display: block;
}
.soc_side a {
  display: block;
}
.soc_side a:not(:last-child) {
  margin-bottom: 30px;
}
.side_line {
  margin-bottom: 34px;
  height: 55px;
  width: 1px;
  background-color: #866e52;
}
.soc_side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side_bar {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0%;
  left: 90px;
  padding: 20px 0;
  z-index: 109;
}

.first_view {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.first_view__right {
  width: 61.7%;
}
.first_view__right img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.left_block_wrap h1 {
  font-size: 200px;
  line-height: 200px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.03);
  position: absolute;
  top: 10%;
  right: 0;
}
.left_block {
  position: relative;
}
.btn_main {
  position: relative;
  font-size: 23px;
  line-height: 23px;
  color: #eaeaea;
  overflow: hidden;
  width: 450px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_main,
.btn_main path {
  transition: all 0.3s;
}
.btn_main:hover {
  color: #866e52;
}
.btn_main:hover path {
  fill: #866e52;
}

.btn_main svg {
  margin-left: 20px;
}

.btn_main:hover span:nth-child(1) {
  background: linear-gradient(to right, #202020, #866e52);
}
.btn_main:hover span:nth-child(2) {
  background: linear-gradient(to bottom, #202020, #866e52);
}
.btn_main:hover span:nth-child(3) {
  background: linear-gradient(to left, #202020, #866e52);
}
.btn_main:hover span:nth-child(4) {
  background: linear-gradient(to top, #202020, #866e52);
}

.btn_main span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #202020, #eaeaea);
  animation: animate1 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.btn_main span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #202020, #eaeaea);
  animation: animate2 2s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.btn_main span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #202020, #eaeaea);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn_main span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #202020, #eaeaea);
  animation: animate4 2s linear infinite;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 91px;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
}
h2 span {
  color: #866e52;
}
.left_block_wrap {
  display: flex;
  align-items: center;
}
.left_block {
  width: 700px;
  padding: 60px 100px 60px 150px;
  margin-top: -90px;
  margin-right: -100px;
  background-color: #202020;
  height: 485px;
}
.left_block_text p {
  font-size: 23px;
  line-height: 140%;
  margin: 50px 0;
}
.language_block a {
  color: rgba(246, 246, 246, 0.2);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.language_block .active_lang {
  color: #866e52;
}
.language_block {
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 117px;
  z-index: 9;
}
.first_view {
  position: relative;
}

.second_view {
  background-color: #1a1a1a;
  padding-top: 45px;
  padding-bottom: 75px;
}
h3 {
  font-size: 45px;
  line-height: 140%;
  color: #eaeaea;
  font-weight: 300;
}
.slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.slider .slick-dots li button {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 1px;
  width: 14px;
  height: 14px;
  color: transparent;
  background-color: transparent;
}
.slider .slick-dots li:not(:last-child) {
  margin-right: 30px;
}

.slider .slick-dots .slick-active button {
  background-color: #866e52;
  border: 1px solid #866e52;
}
.plan_wrap {
  position: relative;
  margin-top: 44px;
}
.gold_text {
  color: #866e52;
}

.proj_dscr {
  font-family: "Raleway", sans-serif;
  padding: 30px 60px;
  background-color: #1a1a1a;
  position: absolute;
  left: -1px;
  bottom: 75px;
  z-index: 100;
  font-size: 42px;
  line-height: 45px;
  font-weight: 300;
}

.proj_price {
  margin-left: 30px;
}
.plan_dscr {
  display: flex;
  flex-wrap: wrap;
  color: #866e52;
  font-size: 19px;
  line-height: 19px;
  font-weight: 500;
  justify-content: space-between;
}
.plan_dscr sup {
  font-size: 14px;
}
.plan_dscr > div {
  width: 48%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.plan_dscr img {
  margin-right: 10px;
}
.area {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.area sup {
  font-size: 25px;
  line-height: 100%;
}

.plan_img {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.slide_wrap {
  position: relative;
}
.second_view .btn_main {
  margin: 0 auto;
  margin-top: 50px;
}
.equipment li {
  display: flex;
  font-size: 19px;
  line-height: 19px;
  color: #eaeaea;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(56, 56, 56, 0.87) 0%,
    rgba(50, 50, 50, 0.62) 100%
  );
  align-items: center;
}
.equipment li:hover {
  color: #866e52;
}
.equipment li:hover path {
  fill: #866e52;
}
.equipment li > div {
  padding: 45px;
}
.equipment_text {
  width: 750px;
}
.check_mark {
  width: 220px;
}
.equipment_name {
  width: 420px;
}
.check_mark {
  text-align: center;
}
.equipment_text {
  padding: 45px 30px;
  border-left: 1px solid #262626;
  border-right: 1px solid #262626;
}

.third_view,
.fifth_view {
  padding-top: 45px;
  padding-bottom: 75px;
}
.equipment {
  margin-top: 40px;
  margin-bottom: 65px;
}
.third_view .container > div:last-child {
  display: flex;
  align-items: center;
}
.third_view .container > div:last-child p {
  color: #866e52;
  max-width: 33%;
  margin-right: 30px;
}
.fourth_view {
  font-size: 19px;
  line-height: 36px;
  font-family: "Raleway", sans-serif;
  background-color: #1a1a1a;
  padding-top: 40px;
  padding-bottom: 60px;
}
.slider_2 {
  margin-top: 60px;
}
.fourth_view .col-lg-4 {
  margin-top: 20px;
}
.fifth_view {
  background-color: #202020;
}
.fifth_view > .container > p {
  font-size: 19px;
  line-height: 36px;
  margin-top: 57px;
  margin-bottom: 10px;
}
.btn_main {
  padding: 10px;
}
.pluses {
  padding: 26px 8% 39px 16px;
}
.pluses:hover {
  background: linear-gradient(180deg, #272727 0%, rgba(49, 49, 49, 0.62) 100%);
}
.pluses p {
  font-size: 19px;
  line-height: 140%;
  color: #866e52;
  margin-top: 27px;
}
.plusess_title {
  display: flex;
  align-items: center;
}
.plusess_title span {
  font-size: 23px;
  line-height: 23px;
  font-family: "Raleway", sans-serif;
  margin-left: 17px;
}
.video_link_wrap {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.play_btn,
.video_block_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.relative_block {
  position: relative;
}
.video_block_text {
  font-family: "Raleway", sans-serif;
  background-color: #1a1a1a;
  width: 75%;
  padding: 35px 15px;
  text-align: center;
  font-size: 44px;
  line-height: 45px;
  font-weight: 300;
}
.sixth_view h3 {
  margin-bottom: 30px;
}
.why_text {
  line-height: 150%;
}
.bottom_blocks {
  width: 25%;
  padding: 70px 15px 5px 15px;
  height: 240px;
}
.bottom_blocks > div {
  display: flex;
  align-items: baseline;
}
.bottom_blocks svg {
  width: 22px;
  margin-right: 15px;
}
.bottom_blocks p {
  width: calc(100% - 37px);
  line-height: 36px;
}
.bottom_blocks:hover {
  background-color: #866e52;
}
.bottom_blocks:hover svg path {
  fill: #eaeaea;
}
.sixth_view {
  background-color: #1a1a1a;
  padding-top: 45px;
  padding-bottom: 90px;
}
.bottom_section {
  background-color: #202020;
}
.footer_links a {
  display: block;
  margin-top: 20px;
}
.copy_right {
  font-size: 12px;
  line-height: 19px;
  margin-top: 34px;
}
.footer_logo {
  color: #866e52;
  text-align: center;
  width: 210px;
}
footer {
  background-color: #1a1a1a;
  padding-top: 150px;
  padding-bottom: 25px;
  border-bottom: 5px solid #866e52;
}
.you_tube_popup .modal-dialog,
.you_tube_popup .modal-content {
  width: 75vw;
  height: 75vh;
  max-width: none !important;
}
.you_tube_popup .modal-content {
  background-color: #333333;
  border-radius: 2px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
.you_tube_popup .modal-header .close {
  margin: 0;
}
.you_tube_popup .modal-header {
  border-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
}
.tool_tips {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  width: 100%;
  text-align: center;
}
.plan_tooltip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background: #262626;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: all 0.8s;
}
.plan_tooltip li {
  margin-bottom: 25px;
  color: #866e52;
}
.plan_tooltip li:nth-child(odd) {
  margin-right: 30px;
}
.tiengle_up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #262626;
  position: absolute;
  top: -9px;
  left: calc(50% - 9px);
}

.tool_tips img {
  cursor: pointer;
}
.tool_tips img:hover + .plan_tooltip {
  z-index: 2;
  opacity: 1;
}
.mobile_side,
.menu .language_block,
.tel_1,
.tel_2,
.menu_btn,
.close_menu {
  display: none;
}
.modal_with_form .modal-dialog {
  width: fit-content;
  max-width: 700px;
}
.modal_form {
  background: #333333;
  border-radius: 2px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  padding: 50px 120px 80px 120px;
  color: #eaeaea;
  font-size: 23px;
  line-height: 129%;
}
.form_title {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  line-height: 129%;
  margin-bottom: 20px;
}
.modal_form input {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  margin-top: 27px;
  font-size: 23px;
  line-height: 23px;
  border: none;
  padding: 0 10px;
}
.modal_form textarea {
  background-color: #eaeaea;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
}
.or {
  margin-top: 25px;
}

.modal_form .btn_main {
  margin-top: 40px;
  width: 100%;
}
.modal_form .close {
  position: absolute;
  top: 25px;
  left: 25px;
}
@media (max-width: 1750px) {
  .side_bar {
    left: 20px;
  }
  .language_block {
    left: 38px;
  }
  .side_logo {
    width: 60px;
  }
}
@media (max-width: 1600px) and (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
@media (max-width: 1600px) {
  .slide_2_img_wrap {
    padding: 0 10px;
  }
}

@media (max-width: 1399.9px) {
  .left_block {
    padding: 30px 70px 40px 100px;
    height: 400px;
  }
  .left_block_text p {
    margin: 20px 0;
  }
  .left_block_wrap h1 {
    top: 0;
    font-size: 160px;
    max-width: 100%;
    right: -9%;
    line-height: 160px;
  }
  .area {
    font-size: 30px;
    line-height: 30px;
  }
  .bottom_blocks p {
    line-height: 30px;
  }
  .play_btn {
    width: 60px;
    height: 60px;
  }
  .video_block_text {
    width: 60%;
    font-size: 30px;
    line-height: 30px;
  }
  h2 {
    font-size: 80px;
  }
  .left_block {
    width: 600px;
    height: 350px;
  }
  .left_block_text p {
    font-size: 20px;
  }
  .proj_dscr {
    font-size: 30px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .container {
    max-width: 1050px;
  }
}
@media (max-width: 1199.9px) {
  body {
    font-size: 16px;
  }
  .first_view {
    padding-top: 30px;
    height: 700px;
  }
  .menu_btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 101;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    background-color: #202020;
    margin: 0;
    width: 320px;
    transition: all 0.7s;
    transform: translateX(100vw);
  }
  .active_mobile_menu {
    transform: translateX(0vw);
  }
  .close_menu {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
  }
  .menu li:before,
  .menu li::after {
    display: none;
  }
  .mobile_side {
    position: absolute;
    top: auto;
    bottom: 0;
    justify-content: flex-end;
  }
  .language_block {
    display: none;
    left: 23px;
  }
  .side_bar,
  .tel_block {
    display: none;
  }
  .menu .language_block,
  .menu .side_bar {
    display: flex;
  }
  .menu li {
    border: none;
    margin-bottom: 30px;
  }
  .menu .tel_1 {
    margin-top: 30px;
    padding-top: 40px;
    border-top: 1px solid #eaeaea;
  }
  header {
    height: 0px;
  }
  .proj_dscr {
    font-size: 26px;
    line-height: 28px;
    padding: 15px 30px;
  }
  .first_view {
    flex-direction: column;
    height: auto;
  }
  .left_block {
    margin: 0 auto;
    padding: 30px 70px 40px 70px;
  }
  .first_view__right {
    width: 100%;
  }
}
@media (max-width: 991.9px) {
  .bottom_section > .container {
    flex-wrap: wrap;
  }
  .bottom_blocks {
    width: 50%;
    height: auto;
  }
  .equipment li {
    font-size: 16px;
  }
  h3 {
    font-size: 30px;
  }
  .plan_wrap .col-lg-4 {
    order: 1;
    margin-top: 15px;
    margin-bottom: 70px;
  }
  .footer_logo {
    width: 250px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .footer_logo p {
    margin-left: 10px;
    text-align: left;
  }
}
@media (max-width: 767.9px) {
  .modal_form input {
    height: 50px;
    font-size: 16px;
    line-height: 16px;
  }
  .modal_with_form .modal-dialog {
    max-width: 550px;
  }
  .form_title {
    font-size: 25px;
  }
  .modal_form {
    font-size: 16px;
    padding: 50px 70px 60px 70px;
  }
  .equipment li > div {
    padding: 20px 10px;
  }
  .video_block_text {
    width: auto;
    padding: 15px;
    font-size: 22px;
    line-height: 23px;
  }
  .video_link_wrap {
    margin-top: 20px;
  }
  .bottom_blocks {
    padding: 30px 15px 5px 15px;
  }
  .bottom_blocks p {
    line-height: 24px;
  }
  .bottom_blocks svg {
    width: 17px;
    margin-right: 10px;
  }
  footer {
    padding-top: 25px;
  }
  .footer_logo {
    order: 1;
  }
  .footer_links {
    order: 2;
  }
  .footer_write {
    order: 3;
    margin-top: 30px;
    width: 100%;
  }
  .footer_write .btn_main {
    margin: 0 auto;
  }
}
@media (max-width: 575.9px) {
  #modal_two .modal_form {
    padding-bottom: 10px;
  }
  .modal_with_form .modal-dialog {
    width: 95%;
  }
  .modal_form {
    padding: 50px 10%;
  }
  .form_title {
    font-size: 20px;
  }
  .modal_form input {
    height: 35px;
    margin-top: 15px;
  }
  .modal_form textarea {
    margin-top: 15px;
  }
  .modal_form .btn_main {
    margin-top: 25px;
  }
  .modal_form .close {
    top: 12px;
    left: 12px;
  }
  .modal_form .btn_main {
    font-size: 14px;
    height: 40px;
  }
  .modal_form {
    font-size: 13px;
  }
  .you_tube_popup .modal-dialog {
    width: 95%;
  }
  .you_tube_popup .modal-content {
    width: 100%;
  }
  .play_btn {
    width: 30px;
    height: 30px;
  }
  .video_block_text {
    font-size: 18px;
    line-height: 19px;
    width: 75%;
  }
  .bottom_blocks {
    width: 100%;
  }
  .bottom_section {
    padding-bottom: 20px;
  }
  .bottom_blocks svg {
    padding-top: 7px;
  }
  .pluses {
    padding: 0;
    margin-top: 25px;
  }
  .btn_main {
    max-width: 100%;
    padding: 10px;
    font-size: 18px;
    line-height: 19px;
  }
  .btn_main svg {
    width: 38px;
  }
  .left_block {
    padding: 15px;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  .left_block_wrap h1 {
    font-size: 105px;
  }
  h2 {
    font-size: 60px;
  }
  .proj_dscr {
    font-size: 18px;
    line-height: 20px;
    padding: 10px 20px;
  }
  .plan_dscr > div {
    width: 100%;
  }
  .equipment li {
    position: relative;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .check_mark svg {
    width: 18px;
  }
  .equipment_name {
    width: calc(100% - 30px);
    order: 1;
  }
  .check_mark {
    order: 2;
    width: 25px;
    padding: 0px !important;
    padding-right: 10px !important;
  }
  .equipment_text {
    order: 3;
  }
  .third_view .container > div:last-child p {
    max-width: none;
    margin-bottom: 20px;
  }
  .third_view .container > div:last-child {
    flex-wrap: wrap;
  }
  .pluses p {
    font-size: 15px;
  }
  .plusess_title span {
    font-size: 19px;
  }
  .plusess_title img {
    width: 30px;
  }
  .fifth_view > .container > p,
  .fourth_view {
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
  }
  footer {
    padding: 20px;
  }
  .left_block {
    text-align: center;
  }
  .left_block_wrap h1 {
    right: 0;
  }
  .left_block_text .btn_main {
    margin: 0 auto;
  }
  .slider_2 .slick-dots li:not(:last-child) {
    margin-right: 10px;
  }
  .slider_2 .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}
/* 

HOVERS


*/
.menu li {
  position: relative;
  border: none;
}
.menu li a:hover {
  color: #eaeaea;
}
.menu li:before,
.menu li:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: "";
  background: rgba(246, 246, 246, 0.2);
  transition: all 0.3s;
}

.menu li:before {
  left: 0px;
  top: 0px;
}

.menu li:after {
  right: 0px;
  bottom: 0px;
}

.menu li:hover:before,
.menu li:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

/*


paralax




*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-paralax {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

main {
  position: relative;
}
.first_view {
  overflow: hidden;
}
.first_view {
  position: relative;
}
.left_block {
  z-index: 10;
}
.second_view {
  z-index: 20;
}
.language_block {
  z-index: 120;
}
.left_block_wrap {
  z-index: 99;
}
